<!DOCTYPE html>
<html>

<head>
    <title>Register - Report Analytics</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="form-box">

        <h1>✨ Create Account</h1>

        <p style="text-align:center;">
            Create your account to use Report Analytics
        </p>

        <form method="POST">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter your username"
                required
            >

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Create a password"
                required
            >

            <button type="submit" style="width:100%; margin-top:25px;">
                Register
            </button>

        </form>

        <p style="text-align:center; margin-top:20px;">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</body>

</html>